@{ 
    var c = (UsuarioWeb)ViewData["Usuario"];
    var d = c.DatosEmpresa;
    var api = ViewData["Api"];
}
<!DOCTYPE html>
<html lang="es" ng-app="atcapp">
<head>
    <meta charset="utf-8" />
    <title>AREA DE CLIENTE | @d.NombreSitio</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #1 for statistics, charts, recent events and reports" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link rel="stylesheet" href="~/assets/global/plugins/font/flaticon.css">
    <link href="~/assets/layouts/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/layouts/layout/css/themes/autocristales.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets/layouts/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
    <script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.5.0/cldr.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.5.0/cldr/event.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.5.0/cldr/supplemental.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.3.0/globalize.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.3.0/globalize/message.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.3.0/globalize/number.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.3.0/globalize/currency.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.3.0/globalize/date.js"></script>
    <script type="text/javascript">

        function verCarrito() {
            var url = '@Url.Action("Pedido", "AreaCliente")';
            window.location.href = url

        }
        var rutaBuscador = '@Url.Action("Buscador", "AreaCliente")';
        var rutaArticulo = '@Url.Action("Buscador", "AreaCliente")';
    </script>
    <script type="text/javascript">
        var Endpoint = '@api';
    </script>



</head>
<!-- END HEAD -->
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white" ng-controller="main">
    @*CAPA CARGANDO*@

    <div class="page-wrapper">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a asp-area="" asp-controller="AreaCliente" asp-action="Index">
                        <img src="~/assets/layouts/layout/img/logo-atc-250.png" alt="logo" class="logo-default" />
                    </a>
                    <div class="menu-toggler sidebar-toggler">
                        <span></span>
                    </div>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <button type="button" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span></span>
                </button>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <!-- BEGIN INBOX DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        @if (d.VisibleUltimaConexion)
                        {
                            <li class="nav-item">
                                <a class="nav-link link-conect">Última Conexión @c.UltimaConexion</a>

                            </li>

                        }
                        @if (d.VisibleIP)
                        {
                            <li class="nav-item">
                                <a class="nav-link link-conect">desde IP @c.UltimaIP</a>

                            </li>

                        }
                        @if (d.VisibleMensajes)
                        {
                            <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="icon-envelope-open"></i>
                                    <span class="badge badge-default" id="canmensajes"> @c.Mensajes.Count </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="external">
                                        <h3>
                                            Tiene
                                            <span class="bold"><span id="canmensajes2">@c.Mensajes.Count</span> Nuevos</span> Mensajes
                                        </h3>
                                    </li>
                                    <li>
                                        <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                                            @foreach (MensajeWeb msj in c.Mensajes)
                                            {
                                                <li id="mj @msj.IdMensaje">
                                                    <a ng-click="marcarMensajeLeido(@msj.IdMensaje, @c.Cliente.IDCliente, @msj.IdCliente)">
                                                        <span class="photo">
                                                            <i class="  icon-envelope"></i>
                                                        </span>
                                                        <span class="subject">
                                                            <span class="from"> @msj.Titulo</span>
                                                            <span class="time"> @msj.FechaEnvio</span>
                                                        </span>
                                                        <span class="message"> @msj.Mensaje </span>
                                                    </a>
                                                </li>

                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                        }

                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="" class="img-circle" src="~/img/usuario-esta.png" />
                                @*<span class="glyphicon glyphicon-user" style="font-size:17px;"> </span>*@
                                <span class="username username-hide-on-mobile" id="nombreCliente"> @c.Cliente.Nombre </span>

                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a asp-controller="AreaCliente" asp-action="Cuenta">
                                        <i class="icon-user"></i> Mis Datos
                                    </a>
                                </li>

                                <li class="divider"> </li>

                                <li>
                                    <a asp-controller="AreaCliente" asp-action="Logout">
                                        <i class="icon-key"></i> Cerrar Sesion
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                        <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-quick-sidebar-toggler">
                            <a href="javascript:;" class="dropdown-toggle">
                                <i class="icon-basket"></i><span class="badge badge-danger" ng-cloak>{{carrito.articulos.length}}</span>
                            </a>
                        </li>
                        <!-- END QUICK SIDEBAR TOGGLER -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">

                <div class="page-sidebar navbar-collapse collapse">
                    <ul class="page-sidebar-menu  page-header-fixed " id="menu_vertical" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 44px">
                        <li class="sidebar-toggler-wrapper hide">
                            <div class="sidebar-toggler">
                                <span></span>
                            </div>
                        </li>
                        <!-- END SIDEBAR TOGGLER BUTTON -->

                        <li class="sidebar-search-wrapper">
                            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM DESCOMENTAR BIENVENIDA AL CLIENTE -->
                            @*<p class="text-center font-white">Bienvenido <strong>@c.Cliente.Nombre</strong></p>*@
                            <!-- END RESPONSIVE QUICK SEARCH FORM -->
                        </li>
                        <li class="nav-item start {{esRutaDefecto()}}">
                            <a asp-area="" asp-controller="AreaCliente" asp-action="Index" class="nav-link nav-toggle">
                                <i class="icon-home"></i>
                                <span class="title">Inicio</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="heading">
                            <h3 class="uppercase">Pedidos</h3>
                        </li>
                        <li class="nav-item  {{esRutaActiva('Pedido')}} ">
                            <a asp-controller="AreaCliente" asp-action="Pedido" class="nav-link nav-toggle">
                                <i class="icon-share-alt"></i>
                                <span class="title">Procesar Pedido</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        @if (d.VisiblePedidos)
                        {
                            <li class="nav-item {{esRutaActiva('Pedidos')}}">
                                <a asp-controller="AreaCliente" asp-action="Pedidos" class="nav-link nav-toggle">
                                    <i class="icon-note"></i>
                                    <span class="title">Consulta Pedidos</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                        }
                        @if (d.VisibleFacturas || d.VisibleFinanzas)
                        {
                            <li class="heading">
                            <h3 class="uppercase">
                                @if(d.VisibleFacturas)
                                {

                                <span>FACTURAS</span>

                                }
                                @if (d.VisibleFinanzas && d.VisibleFacturas)
                                {

                                <span>Y</span>

                                }
                                @if(d.VisibleFinanzas)
                                {

                                <span>FINANZAS</span>

                                }
                            </h3>
                        </li>
                        }

                        @if(d.VisibleFacturas)
                        {
                        <li class="nav-item  {{esRutaActiva('Facturas')}} ">
                            <a asp-controller="AreaCliente" asp-action="Facturas" class="nav-link nav-toggle">
                                <i class=" icon-docs"></i>
                                <span class="title">Consulta Facturas</span>
                                <span class="selected"></span>
                            </a>
                        </li>

        }
                        @if (d.VisibleFinanzas)
                        {
                            @*<li class="heading">
                            <h3 class="uppercase">finanzas</h3>
                        </li>*@
                        <li class="nav-item  {{esRutaActiva('Finanzas')}} ">
                            <a class="nav-link nav-toggle" asp-controller="AreaCliente" asp-action="Finanzas">
                                <i class="fa fa-eur"></i>
                                <span class="title">Finanzas</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        @*<li class="nav-item  {{esRutaActiva('Finanzas?p=1', 1)}} ">
                            <a class="nav-link nav-toggle" asp-controller="AreaCliente" asp-action="Finanzas" asp-route-p="1">
                                <i class="fa fa-eur"></i>
                                <span class="title">Pendientes de Cobro</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item {{esRutaActiva('Finanzas?p=2', 2)}} ">
                            <a class="nav-link nav-toggle" asp-controller="AreaCliente" asp-action="Finanzas" asp-route-p="2">
                                <i class="fa fa-exchange"></i>
                                <span class="title">Extractos Movimientos</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item {{esRutaActiva('Finanzas?p=3', 3)}}  ">
                            <a asp-controller="AreaCliente" asp-action="Finanzas" asp-route-p="3" class="nav-link nav-toggle">
                                <i class="fa fa-briefcase"></i>
                                <span class="title">Efectos en Curso</span>
                                <span class="selected"></span>
                            </a>
                        </li>*@

        }

                        @if (d.VisibleVehiculos || d.VisibleCategorias)
                {
                    <li class="heading">
                        <h3 class="uppercase">productos</h3>
                    </li>

        }

                        @if (d.VisibleVehiculos)
                {
                    <li class="nav-item  ">



                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="fa fa-circle"></i>
                            <span class="title">Lunas</span>
                            <span class="arrow"></span>
                        </a>

                        <ul class="sub-menu">
                            <li class="nav-item  ">
                                <a asp-controller="AreaCliente" asp-action="Buscador" asp-route-vehiculo="0" class="nav-link ">
                                    <i class="icon-home"></i>
                                    <span class="title">Todos los vehículos</span>
                                </a>
                            </li>
                            @foreach (TipoVehiculo tv in c.InfoMenuWeb.Vehiculos)
                    {
                        <li class="nav-item  ">
                            <a asp-controller="AreaCliente" asp-action="Buscador" asp-route-vehiculo="@tv.IDTipoVehiculo" class="nav-link ">
                                <i class="fa fa-circle-o"></i>
                                <span class="title">@tv.Descripcion</span>
                            </a>
                        </li>
            }
                        </ul>
                    </li>

        }
                        @if (d.VisibleCategorias)
                {
                    <li class="nav-item  ">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="fa fa-circle"></i>
                            <span class="title">Complementos</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            @foreach (Categoria ct in c.InfoMenuWeb.Categorias)
                    {
                        <li class="nav-item  ">
                            <a  onclick="clickCapaCargando()" asp-controller="AreaCliente" asp-action="Resultados" asp-route-categoria="@ct.IDCategoria" class="nav-link ">
                                <i class="fa fa-circle-o"></i>
                                <span class="title">@ct.Descripcion</span>
                            </a>
                        </li>
            }

                        </ul>
                    </li>

        }

                    </ul>
                    <!-- END SIDEBAR MENU -->
                    <!-- END SIDEBAR MENU -->
                </div>
                <!-- END SIDEBAR -->
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->

            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->

                <div class="page-content">
                    <div id="capa_cargando" style="width: 100%; height: 100%; z-index:1000;position:fixed; background-color:rgba(255,255,255,0.5);margin-top: -25px;margin-left: -20px;">
                        <div id="contenido_capa_cargando">
                            <img class="img-cargando" src="~/images/loading.gif">
                            <br>
                            <div id="texto_cargando">Cargando...</div>
                        </div>
                    </div>


                    @RenderBody()

                </div>
                <!-- END CONTENT BODY -->
            </div>

            @{

            }



            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-close"></i> Cerrar
            </a>
            <!--  INICIO SIDEBAR OCULTA -->
            <div class="page-quick-sidebar-wrapper" data-close-on-body-click="">
                <div class="page-quick-sidebar">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="javascript:;" data-target="#quick_sidebar_tab_1" data-toggle="tab">
                                CARRITO
                                <span class="badge badge-danger">{{carrito.articulos.length}}</span>
                            </a>
                        </li>
                        @if (d.VisibleUltimosPedidos)
                {
                    <li>
                        <a href="javascript:;" data-target="#quick_sidebar_tab_2" data-toggle="tab">
                            Últimos pedidos
                            @*<span class="badge badge-success">7</span>*@
                        </a>
                    </li>

        }


                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active page-quick-sidebar-chat" id="quick_sidebar_tab_1">
                            <div class="page-quick-sidebar-chat-users" data-rail-color="#ddd" data-wrapper-class="page-quick-sidebar-list">
                                <h3 class="list-heading">ARTÍCULOS EN EL CARRITO</h3>
                                <ul class="media-list list-items" style="padding-bottom: 250px;">
                                    <li class="media" ng-repeat="articulo in carrito.articulos">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <p class="list-carrito">{{articulo.descripcion}}</p>
                                            </div>
                                            <div class="col-md-3">
                                                <button class="btn btn-icon-only default btn-carrito" type="submit" ng-click="anadirCarrito(articulo.idArticulo, -1, articulo.idUnidadManipulacion)">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                                <span class="border-after-green-dark">
                                                    {{articulo.cantidad}}
                                                </span>
                                                <button type="submit" class="btn btn-icon-only default btn-carrito" value="+" ng-click="anadirCarrito(articulo.idArticulo, 1, articulo.idUnidadManipulacion)">
                                                    <i class="fa fa-plus"></i>
                                                </button>

                                            </div>
                                            <div class="col-md-2">
                                                <button class="btn btn-icon-only red btn-carrito" type="submit" ng-click="eliminarArticulo(articulo.idArticulo,  articulo.idUnidadManipulacion)">
                                                    <i class="fa fa-trash" style="font-size:12px;"></i>
                                                </button>
                                            </div>
                                        </div>



                                    </li>

                                </ul>

                            </div>
                            <div class="inner-content" style="position:fixed; bottom:0;width: 411px;background-color:#234056;padding-bottom: 10px;margin-bottom: 0px;">
                                <button class="btn btn-success" type="submit" ng-click="verPaginaCarrito()">
                                    <i class="icon-settings"></i> Procesar Pedido
                                </button>
                            </div>
                        </div>


                        <div class="tab-pane page-quick-sidebar-alerts" id="quick_sidebar_tab_2">
                            <div class="page-quick-sidebar-alerts-list">

                                <h3 class="list-heading">ÚLTIMOS PEDIDOS</h3>
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class=" list-items">
                                            <li>

                                                <table class="table table-carrito">
                                                <thead>
                                                    <tr>
                                                        <th>Nº Documento</th>
                                                        <th>Fecha</th>
                                                        <th>Importe</th>
                                                        <th>Estado</th>
                                                    </tr>
                                                </thead>
                                                    @foreach (Pedido pd in c.Pedidos)

            {

                                        <tr>
                                            <td> @pd.Documento </td>
                                            <td> @pd.FechaDocumento.ToShortDateString() </td>
                                            <td> @pd.ImporteLiquido.ToString("N2")</td>
                                            <td> <span class="label label-sm @pd.ColorEstado"> @pd.Estado </span> </td>

                                        </tr>
}
                                                </table>




                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane page-quick-sidebar-settings" id="quick_sidebar_tab_3">
                            <div class="page-quick-sidebar-settings-list">
                                <h3 class="list-heading">Opciones</h3>
                                <ul class="list-items borderless">
                                    <li>
                                        Opcion1
                                        <input type="checkbox" class="make-switch" checked data-size="small" data-on-color="success" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                    </li>
                                    <li>
                                        Opcion2
                                        <input type="checkbox" class="make-switch" data-size="small" data-on-color="info" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                    </li>
                                    <li>
                                        Opcion3
                                        <input type="checkbox" class="make-switch" checked data-size="small" data-on-color="danger" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                    </li>
                                    <li>
                                        Opcion4
                                        <input type="checkbox" class="make-switch" data-size="small" data-on-color="warning" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                    </li>
                                    <li>
                                        Opcion5
                                        <input type="checkbox" class="make-switch" checked data-size="small" data-on-color="success" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                    </li>
                                </ul>
                                <h3 class="list-heading">Opciones</h3>
                                <ul class="list-items borderless">
                                    <li>
                                        Security Level
                                        <select class="form-control input-inline input-sm input-small">
                                            <option value="1">OP1</option>
                                            <option value="2" selected>OP2</option>
                                            <option value="e">OP3</option>
                                        </select>
                                    </li>
                                    <li>
                                        Opcion6
                                        <input class="form-control input-inline input-sm input-small" value="5" />
                                    </li>
                                    <li>
                                        OPcion7
                                        <input class="form-control input-inline input-sm input-small" value="3560" />
                                    </li>
                                    <li>
                                        OPcion8
                                        <input type="checkbox" class="make-switch" checked data-size="small" data-on-color="danger" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                    </li>
                                    <li>
                                        Opcion9
                                        <input type="checkbox" class="make-switch" checked data-size="small" data-on-color="warning" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                    </li>
                                </ul>
                                <div class="inner-content">
                                    <button class="btn btn-success">
                                        <i class="icon-settings"></i> Guardar Cambios
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END  SIDEBAR OCULTA -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="page-footer-inner">
                &copy; @d.Copyright<input type="text" id="idusuarioweb" value="@c.IdUsuarioWeb" style="display:none;" />
                <input type="text" id="idCliente" value="@c.Cliente.IDCliente" style="display:none;" />

            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->
    </div>

    <div class="quick-nav-overlay"></div>
    <!-- END QUICK NAV -->
    <!--[if lt IE 9]>
    <script src="../assets/global/plugins/respond.min.js"></script>
    <script src="../assets/global/plugins/excanvas.min.js"></script>
    <script src="../assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->

    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/horizontal-timeline/horizontal-timeline.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/assets/global/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
    <script src="~/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="~/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>

    <!-- END THEME LAYOUT SCRIPTS -->
    <!-- JAVASCRIPT AÑADIDO -->
    <script src="~/assets/layouts/layout/scripts/carousel.js" type="text/javascript"></script>

    <script type="text/javascript" src="~/js/site.js">



    </script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script type="text/javascript" src="~/aplicacion/app.js"></script>
    <script type="text/javascript" src="~/aplicacion/mainController.js"></script>
    <script type="text/javascript" src="~/aplicacion/vehiculosController.js"></script>
    <script type="text/javascript" src="~/aplicacion/busquedaArticulosController.js"></script>
    <script type="text/javascript" src="~/aplicacion/facturasController.js"></script>
    <script type="text/javascript" src="~/aplicacion/pedidosController.js"></script>
    <script type="text/javascript" src="~/aplicacion/finanzasController.js"></script>

    <!--Cosas devexpress-->

    <script type="text/javascript" src="~/js/dx.all.js">

    </script>

    <link rel="stylesheet" href="~/css/dx.common.css">
    <link rel="stylesheet" href="~/css/dx.contrast.css">
    <link rel="stylesheet" href="~/css/dx.light.css">
    <script type="text/javascript" src="~/js/sitetop.js">

    </script>

    <!-- FIN JAVASCRIPT AÑADIDO -->
    <script>
                $(document).ready(function () {
                    $('#clickmewow').click(function () {
                        $('#radio1003').attr('checked', 'checked');
                    });

                })

    </script>
    <div dx-popup="popupOptions">
        <div class='popup-property-details'>
            <div class="form">
                <label>Artículo</label>
                <div class="row">
                    <div class="col-md-9">
                        <input class="form-control" type="text" ng-model="bajoPedidoForm.descripcionArticulo" disabled />
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" ng-model="bajoPedidoForm.eurocodeArticulo" disabled />
                    </div>
                </div>
                <label>Comentario:</label>
                <textarea class="form-control" ng-model="bajoPedidoForm.comentario">

                </textarea>
                <input class="btn btn-primary" type="submit" value="Enviar" ng-click="enviarBajoPedido()" />

            </div>
        </div>
    </div>

    @*@fault
#line hidden
            }
#*@
    </body>
</html>