@{
    Layout = "_LayoutCorporativa";
    @using EntidadesAtc;
    var c = (ResultadoRegistro)ViewData["Resultado"];
    var cab = (List<ImagenCabWeb>)ViewData["Cabeceras"];
}

@*@if (c.Resultado != null)
    {
        <div>Resultado del Registro: @c.Resultado</div>
        <div> Que significa: @c.Cadena </div>
        <div>El resultado del mail es: @c.CadenaMail</div>
        <div>A continuación, te dejo divs que se mostrarán según el resultado:</div>
        switch (c.Resultado)
        {
            case -3:
                <div> El teléfono introducido no es válido </div>
                break;
            case -2:
                <div>La contraseña introducida no es válida</div>
                break;
            case -1:
                <div>El usuario ya existe</div>
                break;
            case 0:
                <div> Se ha enviado la solicitud. Un administrador la revisará y recibirás noticias nuestras con la máxima brevedad posible. </div>
                break;
            case 1:
                <div> Se ha procesado la solicitud. Revisa tu email para confirmar tu cuenta. </div>
                break;

        }

    }*@

@if (c.Resultado != null)
{
    @*<div>Resultado del Registro: @rs.Resultado</div>
        <div> Que significa: @rs.Cadena </div>
        <div>El resultado del mail es: @rs.CadenaMail</div>
        <div>A continuación, te dejo divs que se mostrarán según el resultado:</div>*@
    switch (c.Resultado)
    {
        case -4:
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                        <strong>La el usuario y/o la contraseña introducidos no son correctos.</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>

            break;
        case -3:
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                        <strong>El teléfono introducido no es válido</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>

            break;
        case -2:
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                        <strong>La contraseña introducida no es válida</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            break;
        case -1:
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                        <strong>El usuario ya existe</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>


            break;
        case 0:
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 ">
                    <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
                        <strong> Se ha enviado la solicitud.  </strong> <br />Un administrador la revisará y recibirás noticias nuestras con la máxima brevedad posible.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            break;
        case 1:
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 ">
                    <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
                        <div> Se ha procesado la solicitud. Revisa tu email para confirmar tu cuenta. </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>

            break;

    }

}

<div class="form-login d-none d-xl-block">
    <div class="col-md-12 col-xs-12">
        <div class="card">
            <div class="card-block p-2">
                <h4 class="text-center"> <i class="fas fa-lock"></i> Acceso Área Cliente</h4>
                <hr />
                <form asp-controller="AreaCliente" asp-action="Index" method="post">
                    <div class="form-group">
                        <label for="appointment_name" class="text-black">Usuario</label>
                        <input type="text" class="form-control" name="email" id="appointment_name">
                    </div>
                    <div class="form-group">
                        <label for="appointment_email" class="text-black">Contraseña</label>
                        <input type="text" class="form-control" name="password" id="appointment_email">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <a href="#javascript," type="" class="" data-toggle="modal" data-target="#exampleModal">
                                    <small class="text-black">Recuperar Contraseña</small>
                                </a>
                            </div>
                            <div class="col-6 text-right"><input type="submit" value="Enviar" class="btn btn-primary"></div>
                        </div>



                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<section class="home-slider owl-carousel">
    @foreach (ImagenCabWeb cb in cab)
    {
        <div class="slider-item" style="background-image: url('@cb.url');">

            <div class="container">
                <div class="row slider-text align-items-center">
                    <div class="col-lg-7 col-md-7 col-sm-12 col-12 element-animate">
                        @if (cb.Subtitulo == "")
                        {
                            <h1>@cb.Titulo</h1>

                        }
                        else
                        {

                            <div class="row">
                                <div class="col-12 ">
                                    <h2 class="text-white" style="font-size:50px;">@cb.Titulo</h2>

                                </div>
                            </div>
                        }

                        <h2 class="text-center text-sm-center text-md-left text-lg-left text-white">@cb.Subtitulo</h2>
                        <p class="@cb.classcontent d-xl-block">@cb.Contenido</p>
                        <div class="d-xl-none text-center text-sm-center text-md-left text-lg-left">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
                                Acceso Área Clientes
                            </button>
                            <div>
                                <a href="#javascript," type="" class="" data-toggle="modal" data-target="#exampleModal" style="color:#fff;">
                                    <small class="">Recuperar Contraseña</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xs-12"></div>

                </div>
            </div>
        </div>

    }
    @*<div class="slider-item" style="background-image: url('img/fondo_w1b.jpg');">

            <div class="container">
                <div class="row slider-text align-items-center">
                    <div class="col-lg-7 col-md-7 col-sm-12 col-12 element-animate">
                        <div class="row">
                            <div class="col-12 ">
                                <h2 class="text-white" style="font-size:50px;">Auto-Cristales TOMELLOSO</h2>
                            </div>
                        </div>
                        <h2 class="text-center text-sm-center text-md-left text-lg-left text-white">Lunas y Parabrisas para Vehículos</h2>
                        <p class="d-none d-xl-block">Distribución de todo tipo de cristales, lunas y parabrisas de automoción y todos los accesorios para su instalación.</p>
                        <div class="d-xl-none text-center text-sm-center text-md-left text-lg-left">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
                                Acceso Área Clientes
                            </button>
                            <div>
                                <a href="#javascript," type="" class="" data-toggle="modal" data-target="#exampleModal" style="color:#fff;">
                                    <small class="">Recuperar Contraseña</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xs-12"></div>

                </div>
            </div>
        </div>
        <div class="slider-item" style="background-image: url('img/fachada-aerea.jpg');">
            <div class="container">
                <div class="row slider-text align-items-center">
                    <div class="col-md-7 col-sm-12 element-animate">
                        <h1>Grupo ATC</h1>

                        <p>Somos uno de los mayores almacenes de distribución de Europa de lunas y accesorios para automóviles, vehículos industriales y nueva incorporación de parabrisas para autobuses. </p>
                        <div class="d-xl-none text-center text-sm-center text-md-left text-lg-left ">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
                                Acceso Área Clientes
                            </button>
                            <div class="text-center text-sm-center text-md-left text-lg-left">
                                <a href="#javascript," type="" class="text-white" data-toggle="modal" data-target="#exampleModal">
                                    <small class="">Recuperar Contraseña</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-12">

                    </div>
                </div>
            </div>

        </div>*@
</section>
<!-- END slider -->

<section class="container home-feature mb-5">
    <div class="row">
        <div class="col-md-4 p-0 one-col element-animate">
            <div class="col-inner p-xl-5 p-lg-5 p-md-4 p-sm-4 p-4">
                <span class="icon flaticon-personas"></span>
                <h2><strong>PRODUCTOS</strong></h2>
                <p>Los productos que distribuimos abarcan la totalidad del parque móvil europeo, no sólo de automoviles , sino del vehículo industrial, maquinaría de obra publica y agrícola.</p>
            </div>
            <a href="#" class="btn-more">más información</a>
        </div>
        <div class="col-md-4 p-0 two-col element-animate">
            <div class="col-inner p-xl-5 p-lg-5 p-md-4 p-sm-4 p-4">
                <span class="icon flaticon-transporte"></span>
                <h2><strong>CALIDAD</strong></h2>
                <p>Nuestros productos distribuidos provienen de los mejores fabricantes de vidrio del mundo, que cuentan con las especificaciones técnicas como ISO / TS 16949:2009 , ECE R43 – 001853, DOT 563, así como normas ANSI, CCC, SAIB, etc.. Tambien contamos con el sello de calidad Ford Q1.  </p>
            </div>
            <a href="#" class="btn-more">más información</a>
        </div>
        <div class="col-md-4 p-0 three-col element-animate">
            <div class="col-inner p-xl-5 p-lg-5 p-md-4 p-sm-4 p-4">
                <span class="icon flaticon-fabrica"></span>
                <h2><strong>INSTALACIONES</strong></h2>
                <p>Nuestro almacén central dispone de 10.000 metros, con un stock permanente 250.000 piezas, alcanzando la cifra de 14.000 referencias. Tambien disponemos de almacenes en Madrid, Valencia y Murcia. </p>
            </div>
            <a href="#" class="btn-more">más información</a>
        </div>
    </div>
</section>
<!-- END section -->
<section class="section stretch-section py-5">
    <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
            <div class="col-md-8 text-center ">
                <h2 class="text-uppercase heading border-bottom mb-4">Porqué Elegirnos</h2>
                @*<p class="mb-0 lead">Nuestro material proviene de los mejores y más grandes fabricantes de vidrio del mundo, contando con la misma calidad del vidrio OEM, así como cumpliendo todas las normas de homologación de venta para el mercado Global.</p>*@
            </div>
        </div>
        <div class="row align-items-center">

            <div class="col-md-6 stretch-left-1 element-animate" data-animate-effect="fadeInLeft">
                <a href="#" class="video"><img src="img/nave-expo.jpg" alt="" class="img-fluid"></a>
            </div>
            <div class="col-md-6 stretch-left-1-offset pl-md-5 pl-0 element-animate" data-animate-effect="fadeInLeft">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="media d-block media-feature text-center">
                            <span class="icon flaticon-personas"></span>
                            <div class="media-body">
                                <h3 class="mt-0 text-black">Área de Cliente</h3>
                                <p>Dónde hacer pedidos, consultar albaranes, consumos..<br />¡¡Agilice tramites y consultas!! Solicite su clave.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="media d-block media-feature text-center">
                            <span class="icon flaticon-transporte"></span>
                            <div class="media-body">
                                <h3 class="mt-0 text-black">Servicio Especilizado</h3>
                                <p>Con más de 30 años de experiencia en el sector, podemos asesorar a nuestros clientes en cualquier consulta.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="media d-block media-feature text-center">
                            <span class="icon flaticon-fabrica"></span>
                            <div class="media-body">
                                <h3 class="mt-0 text-black">Distribución</h3>
                                <p>Disponemos de 15 rutas de servicio directo con nuestro propio transporte, así como acuerdos con las empresas logísticas especializadas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="media d-block media-feature text-center">
                            <span class="icon flaticon-transporte-1"></span>
                            <div class="media-body">
                                <h3 class="mt-0 text-black">Productos</h3>
                                <p>Nuestro material proviene de los mejores y más grandes fabricantes de vidrio del mundo, contando con la misma calidad del vidrio OEM.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END section -->
@*<section class="section custom-tabs bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4 border-right element-animate">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><span>01</span> Área de Clientes</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><span>02</span> Servivio Especilizado</a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><span>03</span> Almacenes</a>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"><span>04</span> Productos</a>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-7 element-animate">

                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <span class="icon flaticon-personas"></span>
                            <h2 class="text-primary">Área de Cliente</h2>
                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>
                            <p>Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.</p>
                            <p><a href="#" class="btn btn-primary">Ver más</a></p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <span class="icon flaticon-transporte"></span>
                            <h2 class="text-primary">Servicio Especilizado</h2>
                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>
                            <p>Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.</p>
                            <p><a href="#" class="btn btn-primary">Ver más</a></p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <span class="icon flaticon-fabrica"></span>
                            <h2 class="text-primary">Almacenes</h2>
                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>
                            <p>Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.</p>

                        </div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <span class="icon flaticon-transporte-1"></span>
                            <h2 class="text-primary">Productos</h2>
                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>
                            <p>Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.</p>
                            <p><a href="#" class="btn btn-primary">Ver más</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!-- END section -->
<!-- <section class="section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 element-animate">
      <div class="col-md-8 text-center mb-5">
        <h2 class="text-uppercase heading border-bottom mb-4">Our Doctors</h2>
        <p class="mb-0 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>
      </div>
    </div>
    <div class="row element-animate">
      <div class="major-caousel js-carousel-1 owl-carousel">
        <div>
          <div class="media d-block media-custom text-center">
            <img src="img/doctor_1.jpg" alt="Image Placeholder" class="img-fluid">
            <div class="media-body">
              <h3 class="mt-0 text-black">Dr. Carl Smith</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <p>
                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="media d-block media-custom text-center">
            <img src="img/doctor_2.jpg" alt="Image Placeholder" class="img-fluid">
            <div class="media-body">
              <h3 class="mt-0 text-black">Dr. Janice Doe</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <p>
                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="media d-block media-custom text-center">
            <img src="img/doctor_3.jpg" alt="Image Placeholder" class="img-fluid">
            <div class="media-body">
              <h3 class="mt-0 text-black">Dr. Jean Doe</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <p>
                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="media d-block media-custom text-center">
            <img src="img/doctor_4.jpg" alt="Image Placeholder" class="img-fluid">
            <div class="media-body">
              <h3 class="mt-0 text-black">Dr. Jessica Doe</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <p>
                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
              </p>
            </div>
          </div>
        </div>

        <div>
          <div class="media d-block media-custom text-center">
            <img src="img/doctor_1.jpg" alt="Image Placeholder" class="img-fluid">
            <div class="media-body">
              <h3 class="mt-0 text-black">Dr. Carl Smith</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <p>
                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="media d-block media-custom text-center">
            <img src="img/doctor_2.jpg" alt="Image Placeholder" class="img-fluid">
            <div class="media-body">
              <h3 class="mt-0 text-black">Dr. Janice Doe</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <p>
                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="media d-block media-custom text-center">
            <img src="img/doctor_3.jpg" alt="Image Placeholder" class="img-fluid">
            <div class="media-body">
              <h3 class="mt-0 text-black">Dr. Jean Doe</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <p>
                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="media d-block media-custom text-center">
            <img src="img/doctor_4.jpg" alt="Image Placeholder" class="img-fluid">
            <div class="media-body">
              <h3 class="mt-0 text-black">Dr. Jessica Doe</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <p>
                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
              </p>
            </div>
          </div>
        </div>

      </div> -->
<!-- END slider -->
<!-- </div>
  </div>
</section> -->
<!-- END section -->
<section class="cover_1" style="background-image: url(img/fondo2.jpg);">
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-md-10">
                <h2 class="heading element-animate text-black">ENTREGAS GARANTIZADAS</h2>
                <p class="sub-heading element-animate mb-5 text-black">Nuestro material siempre viaja perfectamente protegido en cajas de cartón y envuelto en bolsas de plástico para asegurar una entrega perfecta.</p>
                <p class="element-animate"><a href="#" class="btn btn-primary btn-lg">Contacte con nosotros</a></p>
            </div>
        </div>
    </div>
</section>
<!-- END section -->
<section class="section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
            <div class="col-md-8 text-center">
                <h2 class="text-uppercase heading border-bottom mb-4"><i class="fas fa-users"></i> NUEVA ÁREA DE CLIENTES </h2>
                <p class="mb-0 lead">Desde Auto-Cristales TOMELLOSO, queremos facilitar a nuestros clientes el trabajo, facilitando el acceso a realizar y consultar pedidos, ver la disponibilidad de artículos.... </p>
                <img class="d-block mx-auto img-fluid" src="~/img/pantallazo-aplic.png" />

            </div>
        </div>
        @*<div class="row element-animate">
                <div class="major-caousel js-carousel-2 owl-carousel">
                    <div>
                        <div class="media d-block media-custom text-left">
                            <img src="img/266973-600-400.jpg" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">

                                <h3 class="mt-0 text-black"><a href="#" class="text-black">Consulta de Facturas</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <p class="clearfix">

                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-left">
                            <img src="img/comprar-online.jpg" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">

                                <h3 class="mt-0 text-black"><a href="#" class="text-black">Pedidos Online</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <p class="clearfix">

                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-left">
                            <img src="img/ofertas_descuentos_promociones.jpg" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">

                                <h3 class="mt-0 text-black"><a href="#" class="text-black">Ofertas y descuentos</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <p class="clearfix">

                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-left">
                            <img src="img/CAP_Valencia_Permiso_C_camion.jpg" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">

                                <h3 class="mt-0 text-black"><a href="#" class="text-black">Envios</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <p class="clearfix">

                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-left">
                            <img src="img/Finanzas_tradicionales_vs_Fintech_Quin_gana_el_partido.jpg" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">

                                <h3 class="mt-0 text-black"><a href="#" class="text-black">Estado del pedido</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <p class="clearfix">

                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-left">
                            <img src="img/devoluciones_compradores.jpg" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">

                                <h3 class="mt-0 text-black"><a href="#" class="text-black">Devoluciones</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <p class="clearfix">

                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-left">
                            <img src="img/24x7.jpg" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">

                                <h3 class="mt-0 text-black"><a href="#" class="text-black">24x7x365</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <p class="clearfix">

                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-left">
                            <img src="img/mensajes.jpg" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">

                                <h3 class="mt-0 text-black"><a href="#" class="text-black">Solicite registro</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <p class="clearfix">

                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>*@
    </div>
</section>
<!-- END section -->
<a href="#" class="cta-link element-animate" data-animate-effect="fadeIn" data-toggle="modal" data-target="#modalAppointment">
    <span class="sub-heading">Si eres cliente de Grupo ATC Don Jacinto, puedes solicitar el registro desde aquí.</span>
    <span class="heading">¿Ha solicitado ya el acceso a nuestra Área de Cliente?</span>
</a>
<!-- END cta-link -->
