@{
    @using EntidadesAtc;
    ViewData["Title"] = "About";
    var c = (FormModel)ViewData["Objeto"];
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h4>@c.campo1</h4>
<h4>@c.campo2</h4>
<h4>@c.campo3</h4>


<p>Use this area to provide additional information.</p>
