@{
    @using dsASPCAtc.Web.ViewModels;
    var dt = (ResultadosViewModel)ViewData["Datos"];
    var descripciones = dt.desc;
    var descripcionesjs = dt.jsinfo;
        var c = (UsuarioWeb)ViewData["Usuario"];
        var d = c.DatosEmpresa;
}
@if (dt.Accesorios.Count > 0)
{
    <script type="text/javascript">
        idcat = @dt.Accesorios[0].IDCategoria;
    </script>
}
else
{
    <script type="text/javascript">
        idcat = 0;
    </script>

}
@if (dt.TiposVidrio.Count > 0)
{
    <script type="text/javascript">
        idtipovid = @dt.TiposVidrio[0].IDTipoVidrio;
    </script>
}
<div ng-controller="resultadosBusqueda" id="contenedorResultados" style="display:none">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a asp-action="Index">Inicio</a>
                <i class="fa fa-circle"></i>
            </li>

            @if (descripciones.idTipoVehiculo.HasValue)
            {
                <li>
                    <a asp-action="Buscador" asp-route-vehiculo="@descripciones.idTipoVehiculo">@descripciones.descripcionTipoVehiculo</a>
                    <i class="fa fa-circle"></i>
                </li>
            }
            @if (descripciones.idSeccion.HasValue)
            {
                <li>
                    <a asp-action="Buscador" asp-route-marca="@descripciones.idSeccion">@descripciones.descripcionSeccion</a>
                    <i class="fa fa-circle"></i>
                </li>
            }

            @if (descripciones.idFamilia.HasValue)
            {
                <li>
                    <a  onclick="clickCapaCargando()" asp-controller="AreaCliente" asp-action="Resultados" asp-route-modelo="@descripciones.idFamilia">@descripciones.descripcionFamilia</a>
                    <i class="fa fa-circle"></i>
                </li>
            }
            @if (descripciones.idCarroceria.HasValue)
            {
                <li>
                    <a onclick="clickCapaCargando()" asp-controller="AreaCliente" asp-action="Resultados" asp-route-modelo="@descripciones.idFamilia" asp-route-carroceria="@descripciones.idModeloCarroceria">@descripciones.descripcionCarroceria</a>
                    <i class="fa fa-circle"></i>
                </li>
            }
            @if (descripciones.ano.HasValue)
            {
                <li>
                    <a asp-action="Resultados" asp-route-modelo="@descripciones.idFamilia" asp-route-carroceria="@descripciones.idModeloCarroceria" asp-route-periodo="@descripciones.ano">@descripciones.ano</a>
                    <i class="fa fa-circle"></i>
                </li>
            }
            @if (descripciones.idTipoVidrio.HasValue)
            {
                <li>
                    <a  onclick="clickCapaCargando()" asp-action="Resultados" asp-route-modelo="@descripciones.idFamilia" asp-route-carroceria="@descripciones.idModeloCarroceria" asp-route-periodo="@descripciones.ano" asp-route-vidrio="@descripciones.idVidrio">@descripciones.descripcionTipoVidrio</a>
                    <i class="fa fa-circle"></i>
                </li>
            }
            <li>
                <a>Resultados de búsqueda</a>
                <i class="fa fa-circle"></i>
            </li>
        </ul>
    </div>
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title">
        Resultados de la búsqueda
        <strong></strong>
    </h1>
    <!-- END PAGE TITLE-->

    <div class="portlet  listaArticulos" ng-controller="productosvidrio">
        <input style="display:none" type="text" value="" id="cadena" />
        <input style="display:none" type="text" value="@descripcionesjs" id="parametros" />
        <div class="row">
            <div class="col-md-2" style="padding-right:0px">
                <div class="row">
                    @foreach (TipoVidrio vid in dt.TiposVidrio)
                        {
                    <div class="col-md-12">
                        <div class="btn-lista {{esActivo(@vid.IDTipoVidrio)}}" ng-click="cambiarTabVidrio(@vid.IDTipoVidrio)"  >
                            <div class="row cont-btn-lista " >
                                <div class="col-md-12">
                                    <img class="img-responsive center-block" src="@vid.url" style="width:30px" onerror="this.src='../img/altdisponible.png'" />
                                </div>
                                <div class="col-md-12 text-center txt-ficha">
                                    @vid.Descripcion
                                </div>
                            </div>
                              
                                
                           
                        </div>
                        
                    </div>
                       

                        }
                </div>
               
            </div>
            <div class="col-md-10" style="background-color:#fff; padding-top:18px; min-height:@dt.minHeightVidrio;">
                <div class="row">
                    <uib-tabset active="tabVidrio" id="resultado">

                        @foreach (TipoVidrio vid in dt.TiposVidrio)
            {
                <uib-tab index="@vid.IDTipoVidrio">
                    <div class="col-md-12">
                        @*<h1>@vid.Descripcion</h1>*@
                        @foreach (BuscaArticulo ar in vid.Articulos)
            {
                <div class="row margin-bottom-10 row-prod">
                    <div class="col-md-3 text-center">
                        <div class="row">
                            <div class="col-md-12">
                                <img ng-src="{{imagenArticulo(@ar.IdArticulo)}}" onerror="this.src='../img/altdisponible.png'" class="img-responsive center-block img-list-pro" />
                            </div>
                            <div class="col-md-12">
                                <span>COD. <strong>@ar.Codigo</strong></span>
                            </div>
                            <div class="col-md-12">
                                <a  onclick="clickCapaCargando()" class="btn grey-mint btn-xs" asp-controller="AreaCliente" asp-action="Articulo" asp-route-id="@ar.IdArticulo">
                                    <i class="fa fa-list-alt"></i> Detalles del  producto
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <a  onclick="clickCapaCargando()" class="font-dark" asp-controller="AreaCliente" asp-action="Articulo" asp-route-id="@ar.IdArticulo"> <strong>@ar.Descripcion</strong>  </a>
                        @if (ar.Eurocode != null && d.VisibleEurocodeListado)
            {
                <div style="font-size:85%;">
                    @if (ar.Eurocode.TipoVidrio != null)
        {
            <div>Tipo de Vidrio: <strong> @ar.Eurocode.TipoVidrio</strong></div>
}
                    @if (ar.Eurocode.TipoAccesorio != null)
        {
            <div>Tipo de Accesorio:<strong> @ar.Eurocode.TipoAccesorio</strong></div>
}
                    @if (ar.Eurocode.BandaSuperior != null)
        {
            <div>Banda Superior:<strong> @ar.Eurocode.BandaSuperior</strong></div>
}
                    @if (ar.Eurocode.Carroceria != null)
        {
            <div>Carrocería:<strong> @ar.Eurocode.Carroceria</strong></div>
}
                    @if (ar.Eurocode.Color != null)
        {
            <div>Color:<strong> @ar.Eurocode.Color</strong></div>
}


                    @*@if (ar.Eurocode.Modificaciones != null && ar.Eurocode.Modificaciones.Count > 0)
        {
            <div>Modificaciones</div>
            <ul>
                @foreach (CaracteristicasArticulo cr in ar.Eurocode.Modificaciones)
    {
            <li>@cr.Valor</li>

}
            </ul>


}*@

                   

                </div>
}

                    </div>

                    @foreach (UnidadManipulacion ud in ar.UnidadesManipulacion)
        {
            <span class="unidadmanipulacion">
                <div class="col-md-4">
                    <div class="row ">

                        <div class="col-md-12">
                            @if (ud.AcumuladosStock.Count < 1)
                {
                    <small><strong><i class="fa fa-industry"></i> Bajo pedido </strong></small>


    }
    else
    {
            <small><strong><i class="fa fa-industry"></i> Disponible</strong></small>

}
                            <ul class="list-unstyled list-inline">


                                @if (d.VisibleAlmacenesListado)
                    {
                        @foreach (AcumuladoStock ast in ud.AcumuladosStock)
            {
                <li class="list-inline-item" style="padding-bottom: 5px;">


                    @if (ast.StockFinalUV >= 1)
        {
            <span class=" dispon">
                <i class="fa fa-check"></i>
            </span>
}
else
{
            <span class="no-dispon">
                <i class="fa fa-remove"></i>
            </span>
} <small>@ast.NombreAlmacen</small>
            </li>

}

        }



                            </ul>

                            @*<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#@ar.IdArticulo">Almacenes</button>
                    <div id="@ar.IdArticulo" class="collapse">

                    </div>*@
                        </div>


                    </div>
                    @if(d.VisiblePrecioListado)
                    {
                        <div class="row text-center" style="background-color:#f5f5f5;border-radius:5px!important;padding-bottom:3px;">
                        <div class="col-md-6">
                            <div><small>Precio</small></div>
                            <small>
                                 @if (ud.Precio == 0)
                                            {
                                                <strong>No disponible</strong>

                                            } else
                                            {
                                                 <strong>

                                                @ud.Precio.ToString("N2") €
                                            </strong>

                                            }
                            </small>
                        </div>
                        <div class="col-md-6">
                            <div><small>Desct.</small></div>
                            <small>
                                <strong>
                                    @ud.Descuento.ToString("N2") %
                                </strong>
                            </small>
                        </div>
                    </div>

                    }
                    
                </div>
                <div class=" col-md-2 text-center">
                    <div class="row">
                        @if (ud.AcumuladosStock.Count < 1)
            {
                <div class="col-md-12" style="padding-top:-9px">
                    <a href="javascript:;" class="icon-btn btn-pedir" ng-click="bajoPedidoPopup('@ar.Descripcion', '@ar.Codigo')">
                        <i class="glyphicon glyphicon-envelope"></i>
                        <div> Bajo Pedido</div>
                    </a>
                </div> }
else
{
            <div class="col-md-12" style="padding-top:-9px">
                <a href="javascript:;" class="icon-btn btn-pedir" ng-click="anadirCarrito(@ar.IdArticulo, 0, @ud.idUnidadManipulacion)">
                    <i class="fa fa-cart-plus fa-lg"></i>
                    <div> Añadir</div>
                </a>
            </div>

}
                    </div>

                </div>
            </span>
}

            <div class="row">
                <div class="col-md-12 ">
                    @if (ar.Eurocode.Caracteristicas != null && ar.Eurocode.Caracteristicas.Count > 0)
    {
               <div class="wrapper-carac">
                <div class="caract"><strong>Características</strong></div>
                <ul class="list-unstyled caract">
                    @foreach (CaracteristicasArticulo cr in ar.Eurocode.Caracteristicas)
    {
                <li>@cr.Valor</li>

}
                </ul>
            </div>

}
                </div>
                <div class="col-md-12">
                    @if (ar.Eurocode.Modificaciones != null && ar.Eurocode.Modificaciones.Count > 0)
                {
                    <div class="wrapper-carac">
                        <div class="caract"><strong>Modificaciones</strong></div>
                        <ul class="list-unstyled caract">
                            @foreach (CaracteristicasArticulo cr in ar.Eurocode.Modificaciones)
        {
                    <li>@cr.Valor</li>

}
                        </ul>
                    </div>


        }
                </div>
                
            </div>
                </div>
}
                    </div>
                </uib-tab>
}



                    </uib-tabset>


                </div>

            </div>
        </div>
        
       
        
    </div>



    <!-- INICIO COMPLEMENTOS-->
    @if (dt.Accesorios.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <h2>Accesorios</h2>
            </div>
        </div>

    }
    <div ng-controller="productos">
        <div class="row">
            <div class="col-md-2" style="padding-right:0px">
                <div class="row">
                    @foreach (Categoria ct in dt.Accesorios)
    {
                 <div class="col-md-12" style="padding-right:0px; margin-left:15px;">
                     <div class="row btn-lista-com {{esActivo(@ct.IDCategoria)}}" ng-click="cambiarTabCategorias(@ct.IDCategoria)">

                         <div class="txt-ficha text-center row cont-btn-lista " >
                             @ct.Descripcion
                         </div>
                        
                         
                     </div>
                 </div>
                

}
                </div>
               
            </div>
            <div class="col-md-10" style="background-color:#fff; padding-top:18px; min-height:@dt.minHeightAccesorio;" >
                <uib-tabset active="tabCat" id="accesorios">
                    @foreach (Categoria ct in dt.Accesorios)
    {
                <uib-tab index="@ct.IDCategoria">

                    <div class="row">

                        <div class="col-md-12">
                            @foreach (BuscaArticulo ar in ct.Articulos)
    {
                        <div class="row margin-bottom-10 row-prod">
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <img ng-src="{{imagenArticulo(@ar.IdArticulo)}}" onerror="this.src='../img/altdisponible.png'" class="img-responsive center-block img-list-pro" />
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <span>COD. <strong>@ar.Codigo</strong></span>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <a  onclick="clickCapaCargando()" class="btn grey-mint btn-xs" asp-controller="AreaCliente" asp-action="Articulo" asp-route-id="@ar.IdArticulo">
                                            <i class="fa fa-list-alt"></i> Detalles del  producto
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <a  onclick="clickCapaCargando()" class="font-dark" asp-controller="AreaCliente" asp-action="Articulo" asp-route-id="@ar.IdArticulo"> <strong>@ar.Descripcion</strong>  </a>
                                @if (ar.Eurocode != null && d.VisibleEurocodeListado)
        {
                        <div style="font-size:83%">
                            @if (ar.Eurocode.TipoVidrio != null)
    {
                        <div>Tipo de Vidrio:<strong> @ar.Eurocode.TipoVidrio</strong></div>
}
                            @if (ar.Eurocode.TipoAccesorio != null)
    {
                        <div>Tipo de Accesorio:<strong> @ar.Eurocode.TipoAccesorio</strong></div>
}
                            @if (ar.Eurocode.BandaSuperior != null)
    {
                        <div>Banda Superior:<strong> @ar.Eurocode.BandaSuperior</strong></div>
}
                            @if (ar.Eurocode.Carroceria != null)
    {
                        <div>Carrocería:<strong> @ar.Eurocode.Carroceria</strong></div>
}
                            @if (ar.Eurocode.Color != null)
    {
                        <div>Color:<strong> @ar.Eurocode.Color</strong></div>
}


                            @*@if (ar.Eurocode.Modificaciones != null && ar.Eurocode.Modificaciones.Count > 0)
    {
                        <div>Modificaciones</div>
                        <ul>
                            @foreach (CaracteristicasArticulo cr in ar.Eurocode.Modificaciones)
    {
                        <li>@cr.Valor</li>

}
                        </ul>


}*@

                        @*@if (ar.Eurocode.Caracteristicas != null && ar.Eurocode.Caracteristicas.Count > 0)
        {
                    <div>Caracteristicas</div>
                    <ul>
                        @foreach (CaracteristicasArticulo cr in ar.Eurocode.Caracteristicas)
        {
                    <li>@cr.Valor</li>

    }
                    </ul>

    }*@

                        </div>
}
                            </div>
                            @foreach (UnidadManipulacion ud in ar.UnidadesManipulacion)
    {
                        <span class="unidadmanipulacion">
                            <div class="col-md-4">
                                <div class="row ">

                                    <div class="col-md-12">
                                        @if (ud.AcumuladosStock.Count < 1)
                {
                        <small><strong><i class="fa fa-industry"></i> Bajo pedido </strong></small>


}
else
{
                        <small><strong><i class="fa fa-industry"></i> Disponible</strong></small>

}
                                        <ul class="list-unstyled list-inline">


                                            @if (d.VisibleAlmacenesListado)
                    {
                        @foreach (AcumuladoStock ast in ud.AcumuladosStock)
{
                        <li class="list-inline-item" style="padding-bottom: 5px;">


                            @if (ast.StockFinalUV >= 1)
    {
                        <span class=" dispon">
                            <i class="fa fa-check"></i>
                        </span>
}
else
{
                        <span class="no-dispon">
                            <i class="fa fa-remove"></i>
                        </span>
} <small>@ast.NombreAlmacen</small>
                        </li>

}

}



                                        </ul>

                                        @*<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#@ar.IdArticulo">Almacenes</button>
                    <div id="@ar.IdArticulo" class="collapse">

                    </div>*@
                                    </div>


                                </div>
                                @if(d.VisiblePrecioListado) { 
                                    <div class="row text-center" style="background-color:#f5f5f5;border-radius:5px!important;padding-bottom:3px;">
                                    <div class="col-md-6">
                                        <div><small>Precio</small></div>
                                        <small>
                                            @if (ud.Precio == 0)
                                            {
                                                <strong>No disponible</strong>

                                            } else
                                            {
                                                 <strong>

                                                @ud.Precio.ToString("N2") €
                                            </strong>

                                            }
                                           
                                        </small>
                                    </div>
                                    <div class="col-md-6">
                                        <div><small>Dto.</small></div>
                                        <small>
                                            <strong>
                                                @ud.Descuento.ToString("N2") %
                                            </strong>
                                        </small>
                                    </div>
                                </div>
                                }
                                
                            </div>
                            <div class=" col-md-2 text-center">
                                <div class="row">
                                    @if (ud.AcumuladosStock.Count < 1)
            {
                        <div class="col-md-12" style="padding-top:-9px">
                            <a href="javascript:;" class="icon-btn btn-pedir" ng-click="bajoPedidoPopup('@ar.Descripcion', '@ar.Codigo')">
                                <i class="glyphicon glyphicon-envelope"></i>
                                <div> Bajo Pedido</div>
                            </a>
                        </div> }
else
{
                        <div class="col-md-12" style="padding-top:-9px">
                            <a href="javascript:;" class="icon-btn btn-pedir" ng-click="anadirCarrito(@ar.IdArticulo, 0, @ud.idUnidadManipulacion)">
                                <i class="fa fa-cart-plus fa-lg"></i>
                                <div> Añadir</div>
                            </a>
                        </div>

}
                                </div>

                            </div>

                        </span>
}


                        <div class="row">
                            <div class="col-md-12 ">
                                @if (ar.Eurocode.Caracteristicas != null && ar.Eurocode.Caracteristicas.Count > 0)
        {
                        <div class="wrapper-carac">
                            <div class="caract"><strong>Características</strong></div>
                            <ul class="list-unstyled caract">
                                @foreach (CaracteristicasArticulo cr in ar.Eurocode.Caracteristicas)
        {
                        <li>@cr.Valor</li>

}
                            </ul>
                        </div>

}
                            </div>
                            <div class="col-md-12">
                                @if (ar.Eurocode.Modificaciones != null && ar.Eurocode.Modificaciones.Count > 0)
        {
                        <div class="wrapper-carac">
                            <div class="caract"><strong>Modificaciones</strong></div>
                            <ul class="list-unstyled caract">
                                @foreach (CaracteristicasArticulo cr in ar.Eurocode.Modificaciones)
        {
                        <li>@cr.Valor</li>

}
                            </ul>
                        </div>


}
                            </div>

                        </div>
                        </div>



}  

                        </div> 
                      
                    </div>
                   
                </uib-tab>
}
                </uib-tabset>
            </div>
        </div>

       

        


    </div>
</div>