@{
    @using dsASPCAtc.Web.ViewModels;
    var dt = (ResultadosViewModel)ViewData["Datos"];
    var descripciones = dt.desc;
    var descripcionesjs = dt.jsinfo;
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a asp-action="Index">Inicio</a>
            <i class="fa fa-circle"></i>
        </li>

        @if (descripciones.idTipoVehiculo.HasValue)
        {
            <li>
                <a>@descripciones.descripcionTipoVehiculo</a>
                <i class="fa fa-circle"></i>
            </li>
        }
        @if (descripciones.idSeccion.HasValue)
        {
            <li>
                <a>@descripciones.descripcionSeccion</a>
                <i class="fa fa-circle"></i>
            </li>
        }

        @if (descripciones.idFamilia.HasValue)
        {
            <li>
                <a asp-controller="Home" asp-action="Resultados" asp-route-modelo="@descripciones.idFamilia">@descripciones.descripcionFamilia</a>
                <i class="fa fa-circle"></i>
            </li>
        }
        @if (descripciones.idCarroceria.HasValue)
        {
            <li>
                <a  asp-controller="Home" asp-action="Resultados" asp-route-modelo="@descripciones.idFamilia" asp-route-carroceria="@descripciones.idModeloCarroceria">@descripciones.descripcionCarroceria</a>
                <i class="fa fa-circle"></i>
            </li>
        }
        @if (descripciones.ano.HasValue)
        {
            <li>
                <a  asp-action="Resultados" asp-route-modelo="@descripciones.idFamilia" asp-route-carroceria="@descripciones.idModeloCarroceria" asp-route-periodo="@descripciones.ano">@descripciones.ano</a>
                <i class="fa fa-circle"></i>
            </li>
        }
        @if (descripciones.idTipoVidrio.HasValue)
        {
            <li>
                <a asp-action="Resultados" asp-route-modelo="@descripciones.idFamilia" asp-route-carroceria="@descripciones.idModeloCarroceria" asp-route-periodo="@descripciones.ano" asp-route-vidrio="@descripciones.idVidrio" >@descripciones.descripcionTipoVidrio</a>
                <i class="fa fa-circle"></i>
            </li>
        }
        <li>
            <a asp-action="Home">Resultados de búsqueda</a>
            <i class="fa fa-circle"></i>
        </li>
    </ul>
</div>
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">
    Resultados de la búsqueda
    <strong></strong>
</h1>
<!-- END PAGE TITLE-->
<!-- INICIO TABLA -->
@*<div id="loadinglistaArticulos">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 ">
            <img class="img-responsive center-block" src="~/img/spinner.gif" style="width:50%;" />
        </div>
    </div>

</div>*@
@* @Html.ActionLink("AnadirACarrito", "AnadirACarrito");*@



<div class="portlet light bordered listaArticulos">
    <input style="display:none" type="text" value="" id="cadena" />
    <input style="display:none" type="text" value="@descripcionesjs" id="parametros" />
    @*<h1 ng-if="vm.articulos.length<1"><small>No hay artículos que mostrar para </small>""</h1>*@

    <div class="dataTables_wrapper">
        <div class="row">
            @*<div class="col-md-6">
                <p ng-if="vm.articulos.length>0">Mostrando <strong> {{vm.articulos.length}}</strong> de <strong> {{vm.numReg}}</strong> artículos.</p>
            </div>*@
            @*<div class="col-md-6">
                <div class="dataTables_wrapper">
                    <div class="dataTables_paginate" style="float:right">
                        <ul class="pagination">
                            <li id="primera" ng-click="cambiarPagina(this, 'F')">
                                <a><i class="fa fa-step-backward "></i> Primera</a>
                            </li>
                            <li id="anterior" ng-click="cambiarPagina(this, 'P')">
                                <a><i class="fa fa-caret-left "></i> anterior</a>
                            </li>
                            <li id="siguiente" ng-click="cambiarPagina(this, 'N')">
                                <a> siguiente <i class="fa fa-caret-right "></i></a>
                            </li>
                            <li id="ultima" ng-click="cambiarPagina(this, 'L')">
                                <a>Última <i class="fa fa-step-forward "></i> </a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>*@
        </div>
        <table class="table table-striped table-bordered table-hover table-checkable order-column tabla-listado-prod" id="sample_2">
            <thead>
                <tr>
                    <th class="">

                    </th>
                    <th> Código </th>
                    <th> Características </th>
                    <th> Almacenes </th>
                    <th class="text-center">PVP</th>
                    <th class="text-center">%</th>
                    <th class="text-center">Neto</th>
                    <th class="text-center">Incl. pedido</th>
                </tr>
            </thead>
            <tbody>
                @foreach(BuscaArticulo ar in dt.Articulos)
                {
                    <tr class="odd gradeX">
                        <td class="text-center">
                            <img ng-src="{{imagenArticulo(@ar.IdArticulo)}}" onerror="this.src='../img/nodisponible.png'" class="img-responsive center-block" style="width:80%;" />
                        </td>
                        <td>@ar.Codigo</td>
                        <td>
                            <a class="font-dark" href=""> @ar.Descripcion </a>
                        </td>
                        <td>
                            <ul class="list-unstyled">
                                <li style="padding-bottom: 5px;">
                                    Madrid  <span class="label label-sm label-success"> Disponible </span>
                                </li>
                                <li>
                                    Tomelloso  <span class="label label-sm label-default"> Agotado </span>
                                </li>
                            </ul>

                        </td>
                        <td class="text-right">0.00€</td>
                        <td class="text-right">0%</td>
                        <td class="text-right">0.00€</td>
                        <td class="text-center">
                            <a href="javascript:;" class="btn btn-icon-only default">
                                <i class="fa fa-cart-plus"></i>
                            </a>
                        </td>
                    </tr>
                }
                

            </tbody>
        </table>
        <div class="row">
            @*<div class="col-md-6">
                <p ng-if="vm.articulos.length>0">Mostrando <strong> {{vm.articulos.length}}</strong> de <strong> {{vm.numReg}}</strong> artículos.</p>
            </div>*@
            @*<div class="col-md-6">
                <div class="dataTables_wrapper">
                    <div class="dataTables_paginate" style="float:right">
                        <ul class="pagination">
                            <li id="primera_b" ng-click="cambiarPagina(this, 'F')">
                                <a><i class="fa fa-step-backward "></i> Primera</a>
                            </li>
                            <li id="anterior_b" ng-click="cambiarPagina(this, 'P')">
                                <a><i class="fa fa-caret-left "></i> anterior</a>
                            </li>
                            <li id="siguiente_b" ng-click="cambiarPagina(this, 'N')">
                                <a> siguiente <i class="fa fa-caret-right "></i></a>
                            </li>
                            <li id="ultima_b" ng-click="cambiarPagina(this, 'L')">
                                <a>Última <i class="fa fa-step-forward "></i> </a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>*@
        </div>
    </div>



</div>
<!-- FIN TABLA  parabrisas-->
<!-- TABLA  Gomas-->
@foreach (Categoria ct in dt.Accesorios)
{
    <div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <h1>@ct.Descripcion</h1>
            <table class="table table-striped table-bordered table-hover table-checkable order-column tabla-listado-prod" id="sample_2">
                <thead>
                    <tr>
                        <th class="">

                        </th>
                        <th> Código </th>
                        <th> Características </th>
                        <th> Almacenes </th>
                        <th class="text-center">PVP</th>
                        <th class="text-center">%</th>
                        <th class="text-center">Neto</th>
                        <th class="text-center">Incl. pedido</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (BuscaArticulo ar in ct.Articulos)
            {
                <tr class="odd gradeX">
                    <td class="text-center">
                        <img ng-src="{{imagenArticulo(@ar.IdArticulo)}}" onerror="this.src='../img/nodisponible.png'" class="img-responsive center-block" style="width:80%;" />
                    </td>
                    <td>@ar.Codigo</td>
                    <td>
                        <a class="font-dark" href=""> @ar.Descripcion </a>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            <li style="padding-bottom: 5px;">
                                Madrid  <span class="label label-sm label-success"> Disponible </span>
                            </li>
                            <li>
                                Tomelloso  <span class="label label-sm label-default"> Agotado </span>
                            </li>
                        </ul>

                    </td>
                    <td class="text-right">0.00€</td>
                    <td class="text-right">0%</td>
                    <td class="text-right">0.00€</td>
                    <td class="text-center">
                        <a href="javascript:;" class="btn btn-icon-only default">
                            <i class="fa fa-cart-plus"></i>
                        </a>
                    </td>
                </tr>
    }


                </tbody>
            </table>
         </div>
        </div>
    </div>

}

