@{
    @using EntidadesAtc;
    ViewData["Title"] = "Home Page";
    var vh = (List<TipoVehiculo>)ViewData["Vehiculos"];
    var IDTipoVehiculo = (int)ViewData["IDTipoVehiculo"];
    var Vehiculo = (TipoVehiculo)ViewData["Vehiculo"];
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="index.html">Inicio</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Buscar Producto</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">
    Buscar Producto
    <small>Rellene los campos para ver la ficha de Producto</small>
</h1>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="row" ng-controller="vehiculos">
    <uib-tabset active="activePill" vertical="true" type="pills">
        <uib-tab index="0" heading="Vertical 1">Vertical content 1</uib-tab>
        <uib-tab index="1" heading="Vertical 2">Vertical content 2</uib-tab>
    </uib-tabset>
    <input type="text" value="@IDTipoVehiculo" id="tipovehi" />
    <div class="col-md-12">
        <div class="portlet light bordered" id="form_wizard_1">
            <div class="portlet-title">
                <div class="caption">
                    <i class="flaticon-vehiculo ico-prod font-red" style="font-size: 6rem; line-height: 0;"></i>
                    <span class="caption-subject font-red bold uppercase">
                        Buscador de Producto de Vidrio -
                        <span class="step-title"> Paso 1 de 4 </span>
                    </span>
                </div>

            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" action="#" id="submit_form" method="POST">
                    <div class="form-wizard">
                        <div class="form-body">
                            <ul class="nav nav-pills nav-justified steps">
                                <li>
                                    <a href="#tab1" data-toggle="tab" class="step">
                                        <span class="number"> 1 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i>Marca
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2" data-toggle="tab" class="step">
                                        <span class="number"> 2 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Modelo
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab3" data-toggle="tab" class="step active">
                                        <span class="number"> 3 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Año
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab4" data-toggle="tab" class="step">
                                        <span class="number"> 4 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Seleccione Vidrio
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <div id="bar" class="progress progress-striped" role="progressbar">
                                <div class="progress-bar progress-bar-success"> </div>
                            </div>
                            <div class="tab-content">
                                <div class="alert alert-danger display-none">
                                    <button class="close" data-dismiss="alert"></button> Debe seleccionar Marca
                                </div>
                                <div class="alert alert-success display-none">
                                    <button class="close" data-dismiss="alert"></button> Your form validation is successful!
                                </div>
                                <!-- TAB UNO MARCA MODELO -->
                                <div class="tab-pane active" id="tab1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="m-grid m-grid-responsive-sm m-grid-demo m-grid-full-height">
                                                <div class="m-grid-row">
                                                    @foreach (TipoVehiculo vehiculo in vh)
                                                    {
                                                        <div class="m-grid-col m-grid-col-middle m-grid-col-center m-inter">

                                                            <a href="/Home/Vehiculos/@vehiculo.IDTipoVehiculo">
                                                                @if (vehiculo.IDTipoVehiculo == IDTipoVehiculo)
                                                                {
                                                                    <div>yo tengo que ser azul porque soy el seleccionado</div>
                                                                    <img class="img-fluid" src="@vehiculo.url" style="width:50px" onerror="this.src='../../img/spinner.gif'" />
                                                                }
                                                                else
                                                                {

                                                                    <img class="img-fluid" src="@vehiculo.url" style="width:50px" onerror="this.src='../../img/spinner.gif'" />
                                                                }

                                                                <p class="texto-prod"><small class="d-block">@vehiculo.Descripcion</small></p>
                                                            </a>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="block">Marca de su vehículo</h3>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Marca
                                        </label>
                                        <div class="col-md-4">
                                            <div dx-select-box="selectBox" dx-item-alias="product" class="mb-1">

                                                <div data-options="dxTemplate: { name: 'field' }">

                                                    <div dx-text-box="settingsbox"></div>
                                                </div>

                                                <div data-options="dxTemplate: { name: 'item' }">
                                                    <div class="custom-item">
                                                        <div class="row">
                                                            <div class="col-md-3"><img ng-src="{{product.url}}" style="width:20px" onerror="this.src='../../images/escudo.png'" /></div>
                                                            <div class="col-md-3">
                                                                <div class="product-name">
                                                                    {{product.descripcionSeccion}}
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                            <select class="selectpicker form-control" data-live-search="true" title="Escribe aquí la marca de tu vehículo">
                                                <optgroup label="Peugeot">
                                                    <option>Peugeot 205</option>
                                                    <option><a href="#tab2" data-toggle="tab">Peugeot 207</a></option>
                                                    <option>Peugeot 309</option>
                                                </optgroup>
                                                <optgroup label="Audi">
                                                    <option>Audi TT</option>
                                                    <option>Audi QX</option>
                                                    <option>Audi 100 </option>
                                                </optgroup>
                                            </select>
                                            <span class="help-block"> Seleccione la Marca de Su Vehículo</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="tabbable  tabbable-line">
                                                <ul class="nav nav-tabs ">
                                                    <li class="dropdown pull-right tabdrop">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"><i class="fa fa-ellipsis-v"></i>&nbsp;<i class="fa fa-angle-down"></i> <b class="caret"></b></a>
                                                        <ul class="dropdown-menu">
                                                            <li>
                                                                <a href="#tab16" data-toggle="tab">Section 6</a>
                                                            </li>
                                                            <li>
                                                                <a href="#tab17" data-toggle="tab">Section 7</a>
                                                            </li>
                                                            <li>
                                                                <a href="#tab18" data-toggle="tab">Section 8</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    @foreach (string inicial in Vehiculo.InicialesMarcas)
                                                    {
                                                        <li class="">
                                                            <a href="#tabA" data-toggle="tab" aria-expanded="false">@inicial</a>
                                                        </li>

                                                    }
                                                    <li class="active">
                                                        <a href="#tab11" data-toggle="tab" aria-expanded="false">Mostrar todo</a>
                                                    </li>

                                                    <li class="">
                                                        <a href="#tab13" data-toggle="tab" aria-expanded="false">B</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="#tab14" data-toggle="tab" aria-expanded="false">C</a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab15" data-toggle="tab" aria-expanded="true">D</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="#tab14" data-toggle="tab" aria-expanded="false">E</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="#tab14" data-toggle="tab" aria-expanded="false">F</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="#tab14" data-toggle="tab" aria-expanded="false">G</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="#tab14" data-toggle="tab" aria-expanded="false">H</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="#tab14" data-toggle="tab" aria-expanded="false">I</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="#tab14" data-toggle="tab" aria-expanded="false">J</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="#tab14" data-toggle="tab" aria-expanded="false">K</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="#tab14" data-toggle="tab" aria-expanded="false">L</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="#tab14" data-toggle="tab" aria-expanded="false">M</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="#tab14" data-toggle="tab" aria-expanded="false">N</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="#tab14" data-toggle="tab" aria-expanded="false">O</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="#tab14" data-toggle="tab" aria-expanded="false">P</a>
                                                    </li>



                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="tab11">
                                                        <div class="m-grid m-grid-responsive-sm  m-grid-full-height">
                                                            <div class="m-grid-row">
                                                                <div class="m-grid-col m-grid-col-middle m-grid-col-center m-interior">
                                                                    <div class="panel-group accordion scrollable" id="accordion2">
                                                                        <div class="panel panel-default">
                                                                            <div class="panel-heading">
                                                                                <h4 class="panel-title">
                                                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#A" href="#collapseB" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> A </font></font></a>
                                                                                </h4>
                                                                            </div>
                                                                            <div id="collapseA" class="panel-collapse collapse in" aria-expanded="true" style="">
                                                                                <div class="panel-body">
                                                                                    <ul class="list-unstyled">
                                                                                        <li>
                                                                                            <a href="#tab2" data-toggle="tab">AUDI</a>
                                                                                        </li>
                                                                                        <li>
                                                                                            AUSTIN
                                                                                        </li>
                                                                                        <li>
                                                                                            ALFA
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel panel-default">
                                                                            <div class="panel-heading">
                                                                                <h4 class="panel-title">
                                                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#B" href="#collapseB" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> B </font></font></a>
                                                                                </h4>
                                                                            </div>
                                                                            <div id="collapseB" class="panel-collapse collapse" aria-expanded="false" style="">
                                                                                <div class="panel-body">
                                                                                    <ul class="list-unstyled">
                                                                                        <li>
                                                                                            AUDI
                                                                                        </li>
                                                                                        <li>
                                                                                            AUSTIN
                                                                                        </li>
                                                                                        <li>
                                                                                            ALFA
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel panel-default">
                                                                            <div class="panel-heading">
                                                                                <h4 class="panel-title">
                                                                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseC" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> C </font></font></a>
                                                                                </h4>
                                                                            </div>
                                                                            <div id="collapseC" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                                                <div class="panel-body">
                                                                                    <ul class="list-unstyled">
                                                                                        <li>
                                                                                            AUDI
                                                                                        </li>
                                                                                        <li>
                                                                                            AUSTIN
                                                                                        </li>
                                                                                        <li>
                                                                                            ALFA
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel panel-default">
                                                                            <div class="panel-heading">
                                                                                <h4 class="panel-title">
                                                                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseD" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> D </font></font></a>
                                                                                </h4>
                                                                            </div>
                                                                            <div id="collapseD" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                                                <div class="panel-body">
                                                                                    <ul class="list-unstyled">
                                                                                        <li>
                                                                                            AUDI
                                                                                        </li>
                                                                                        <li>
                                                                                            AUSTIN
                                                                                        </li>
                                                                                        <li>
                                                                                            ALFA
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="m-grid-col m-grid-col-middle m-grid-col-center m-interior">
                                                                    <div class="panel-group accordion scrollable" id="accordion2">
                                                                        <div class="panel panel-default">
                                                                            <div class="panel-heading">
                                                                                <h4 class="panel-title">
                                                                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseE" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> E</font></font></a>
                                                                                </h4>
                                                                            </div>
                                                                            <div id="collapseE" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                                                <div class="panel-body">
                                                                                    <ul class="list-unstyled">
                                                                                        <li>
                                                                                            AUDI
                                                                                        </li>
                                                                                        <li>
                                                                                            AUSTIN
                                                                                        </li>
                                                                                        <li>
                                                                                            ALFA
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel panel-default">
                                                                            <div class="panel-heading">
                                                                                <h4 class="panel-title">
                                                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseF" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> F </font></font></a>
                                                                                </h4>
                                                                            </div>
                                                                            <div id="collapseF" class="panel-collapse collapse" aria-expanded="true" style="">
                                                                                <div class="panel-body">
                                                                                    <ul class="list-unstyled">
                                                                                        <li>
                                                                                            AUDI
                                                                                        </li>
                                                                                        <li>
                                                                                            AUSTIN
                                                                                        </li>
                                                                                        <li>
                                                                                            ALFA
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div rlass="panel panel-default">
                                                                            <div class="panel-heading">
                                                                                <h4 class="panel-title">
                                                                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseG" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> G </font></font></a>
                                                                                </h4>
                                                                            </div>
                                                                            <div id="collapseG" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                                                <div class="panel-body">
                                                                                    <ul class="list-unstyled">
                                                                                        <li>
                                                                                            AUDI
                                                                                        </li>
                                                                                        <li>
                                                                                            AUSTIN
                                                                                        </li>
                                                                                        <li>
                                                                                            ALFA
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel panel-default">
                                                                            <div class="panel-heading">
                                                                                <h4 class="panel-title">
                                                                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseH" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> H </font></font></a>
                                                                                </h4>
                                                                            </div>
                                                                            <div id="collapseH" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                                                <div class="panel-body">
                                                                                    <ul class="list-unstyled">
                                                                                        <li>
                                                                                            AUDI
                                                                                        </li>
                                                                                        <li>
                                                                                            AUSTIN
                                                                                        </li>
                                                                                        <li>
                                                                                            ALFA
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="m-grid-col m-grid-col-middle m-grid-col-center m-interior">

                                                                </div>
                                                                <div class="m-grid-col m-grid-col-middle m-grid-col-center m-interior">

                                                                </div>
                                                                <div class="m-grid-col m-grid-col-middle m-grid-col-center m-interior">

                                                                </div>
                                                                <div class="m-grid-col m-grid-col-middle m-grid-col-center m-interior">

                                                                </div>
                                                                <div class="m-grid-col m-grid-col-middle m-grid-col-center m-interior">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="tabA">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <ul class="list-unstyled">
                                                                        <li>
                                                                            AUDI
                                                                        </li>
                                                                        <li>
                                                                            AUSTIN
                                                                        </li>
                                                                        <li>
                                                                            ALFA
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <ul class="list-unstyled">
                                                                        <li>
                                                                            AUDI
                                                                        </li>
                                                                        <li>
                                                                            AUSTIN
                                                                        </li>
                                                                        <li>
                                                                            ALFA
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <ul class="list-unstyled">
                                                                        <li>
                                                                            AUDI
                                                                        </li>
                                                                        <li>
                                                                            AUSTIN
                                                                        </li>
                                                                        <li>
                                                                            ALFA
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <ul class="list-unstyled">
                                                                        <li>
                                                                            AUDI
                                                                        </li>
                                                                        <li>
                                                                            AUSTIN
                                                                        </li>
                                                                        <li>
                                                                            ALFA
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="tab-pane" id="tab13">
                                                        <p>  </p>
                                                    </div>
                                                    <div class="tab-pane" id="tab14">
                                                        <p>  </p>
                                                    </div>
                                                    <div class="tab-pane " id="tab15">
                                                        <p>  </p>
                                                    </div>
                                                    <div class="tab-pane" id="tab16">
                                                        <p>  </p>
                                                    </div>
                                                    <div class="tab-pane" id="tab17">
                                                        <p>  </p>
                                                    </div>
                                                    <div class="tab-pane" id="tab18">
                                                        <p>  </p>
                                                    </div>
                                                    <div class="tab-pane" id="tab19">
                                                        <p>  </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                                <!--  FIN TAB UNO MARCA MODELO -->
                                <!-- INICIO modelo -->
                                <div class="tab-pane" id="tab2">
                                    <div class="page-bar">
                                        <ul class="page-breadcrumb">
                                            <li>
                                                Coche
                                                <i class="fa fa-circle"></i>
                                            </li>
                                            <li>
                                                <span>Peugeot</span>
                                            </li>
                                        </ul>

                                    </div>
                                    <h3 class="block">Modelo de su vehículo</h3>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Modelo
                                        </label>
                                        <div class="col-md-4">
                                            <select class="selectpicker form-control" data-live-search="true" title="Escribe aquí el modelo de su vehículo">
                                                <optgroup label="0-9">
                                                    <option> 205</option>
                                                    <option> 207</option>
                                                    <option> 309</option>
                                                </optgroup>
                                                <optgroup label="B">
                                                    <option>Bipper</option>
                                                    <option>Bipper Tepee</option>
                                                    <option>Boxer </option>
                                                </optgroup>
                                            </select>
                                            <span class="help-block"> Seleccione el modelo de su Vehículo</span>
                                        </div>
                                    </div>
                                    <h3 class="block">Seleccione Carrocería</h3>
                                    <div class="row">
                                        <div class="col-md-3 text-center">
                                            <h3>3P PORTÓN</h3>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <h3>5P PORTÓN</h3>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <h3>5P BREAK</h3>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <h3>2P COUPÉ</h3>
                                        </div>
                                    </div>
                                </div>
                                <!-- FIN modelo -->
                                <!-- inicio año -->
                                <div class="tab-pane" id="tab3">
                                    <div class="page-bar">
                                        <ul class="page-breadcrumb">
                                            <li>
                                                Coche
                                                <i class="fa fa-circle"></i>
                                            </li>
                                            <li>
                                                <span>Peugeot</span>
                                                <i class="fa fa-circle"></i>
                                            </li>
                                            <li>
                                                <span>207</span>
                                                <i class="fa fa-circle"></i>
                                            </li>
                                            <li>
                                                <span>5P Portón</span>
                                            </li>
                                            <li>

                                            </li>
                                        </ul>

                                    </div>
                                    <h3 class="block">Seleccione Año</h3>
                                    <div class="row">
                                        <div class="col-md-3 text-center">
                                            <h3>2006 - 2012</h3>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <h3>2006 - 2012</h3>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <h3>2006 - 2012</h3>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <h3>2006 - 2012</h3>
                                        </div>
                                    </div>
                                </div>
                                <!-- fin año -->
                                <div class="tab-pane" id="tab4">
                                    <div class="page-bar">
                                        <ul class="page-breadcrumb">
                                            <li>
                                                Coche
                                                <i class="fa fa-circle"></i>
                                            </li>
                                            <li>
                                                <span>Peugeot</span>
                                                <i class="fa fa-circle"></i>
                                            </li>
                                            <li>
                                                <span>207</span>
                                                <i class="fa fa-circle"></i>
                                            </li>
                                            <li>
                                                <span>5P Portón</span>
                                                <i class="fa fa-circle"></i>
                                            </li>
                                            <li>
                                                <span>2006 - 2012</span>
                                            </li>
                                        </ul>

                                    </div>
                                    <h3 class="block">Seleccione Vidrio</h3>
                                    <div class="row">

                                        <div class="col-md-3 text-center">
                                            <div class="col-md-12">
                                                <h4 class="form-section">Parabrisas</h4>
                                            </div>
                                            <a href="tablaprod.html">
                                                <img src="assets/layouts/layout/img/parabrisas.png" class="img-responsive" alt="">
                                            </a>

                                        </div>
                                        <div class="col-md-3 text-center">
                                            <div class="col-md-12">
                                                <h4 class="form-section">Puerta derecha</h4>
                                            </div>
                                            <img src="assets/layouts/layout/img/pdelanreradere.png" alt="">
                                            <img src="assets/layouts/layout/img/ptraseradere.png" alt="">
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <div class="col-md-12">
                                                <h4 class="form-section">Puerta Izquierda</h4>
                                            </div>
                                            <img src="assets/layouts/layout/img/pdelanteraiz.png" alt="">
                                            <img src="assets/layouts/layout/img/ptraseraiz.png" alt="">
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <div class="col-md-12">
                                                <h4 class="form-section">Lunetas</h4>
                                            </div>
                                            <img src="assets/layouts/layout/img/lunetas.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <a href="javascript:;" class="btn default button-previous">
                                        <i class="fa fa-angle-left"></i> Atrás
                                    </a>
                                    <a href="javascript:;" class="btn btn-outline green button-next">
                                        Continue
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                    <!-- <a href="javascript:;" class="btn green button-submit"> Ver listado
                                        <i class="fa fa-eye"></i>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>